In [16]:
# Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella"

things = ["mozzarella", "cinderella","salmonella"]

In [17]:
#Capitalize the element in things that refers to a person and then print the list. 

things[1] = things[1].capitalize()

In [18]:
# Checking to see if the capitalization worked

things

['mozzarella', 'Cinderella', 'salmonella']

In [19]:
# Make the cheesy element of things all uppercase and then print the list.

things[0] = things[0].upper()

In [20]:
#Make the cheesy element of things all uppercase and then print the list

things

['MOZZARELLA', 'Cinderella', 'salmonella']

In [21]:
#Delete the disease element from things

del(things[2])

In [29]:
#Collect my nobel prize

print ("Announcer: This year's Nobel prize goes to Jules for his work to eradicate salmonella from things!")
print ("""Jules: I am really so flatterd, I just deleted it from the list.
       I would love to thank Python and Jupyter notebooks for that.
       I won't turn down the money though, FYI.""")

Announcer: This year's Nobel prize goes to Jules for his work to eradicate salmonella from things!
Jules: I am really so flatterd, I just deleted it from the list.
       I would love to thank Python and Jupyter notebooks for that.
       I won't turn down the money though, FYI.

In [27]:
#print the list.

things

['MOZZARELLA', 'Cinderella']

In [30]:
# Define a function called good() that returns the following list: ['Harry', 'Ron', 'Hermione'].

def good():
    return ['Harry', 'Ron', 'Hermione']

In [32]:
good()

['Harry', 'Ron', 'Hermione']

In [6]:
def get_odds():
    odds = []
    for a in range(10):
        if a%2 != 0:
            odds.append(a)
            
    print(odds[2])

In [7]:
get_odds()

5